{% extends 'paginate.html' %}
{% block content %}
   <main>
      <div>
         <h1>{{ meal_plan.name }}</h1>
         <p>{{ meal_plan.date }}</p>
         <a href="{% url 'meal_plans_create' %}">Create</a>
         <a href="{% url 'meal_plans_edit' meal_plan.pk %}">Edit</a>
      </div>
      <ul>
         {% for recipe in meal_plan.recipes.all %}
            <li>
               <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
            </li>
         {% endfor %}
      </ul>
   </main>
{% endblock content %}
{% comment %} This view will show the name of the meal plan, the date that it is to be served, and the list of the names of the recipes associated with it. Each recipe name should be a link to the recipe page. {% endcomment %}
