{% extends 'paginate.html' %}
{% block content %}
  <main class="recipe-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <button class="button">UPDATE</button>
      </div>
    </form>
  </main>
{% endblock content %}
