{% extends 'paginate.html' %}
{% block content %}
  <main class="recipe-grid">
    {% for meal_plan in meal_plans %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="{% url 'meal_plans_detail' meal_plan.pk %}">{{ meal_plan.name }}</a>
        </h2>
        <p class="recipe-card-date">{{ meal_plan.updated }}</p>
      </div>
    {% endfor %}
  </main>
{% endblock content %}
